.nested-fields.col-lg-12

	= link_to_remove_association f do
		%i.icon-trash

	.row
		.col.lg-6
			= f.input :amount_people, label: "Cantidad de Personas", wrapper_html: { class: "" }
		.col.lg-6
			= f.input :price, label: "Precio", wrapper_html: { class: "" }
