.nested-fields.col-lg-12
	.row
		.col-lg-4
			= f.label :room_id, "Habitaciones"
			= f.select :room_id, options_from_collection_for_select(KepplerBooking::Room.all, :id, :name), { include_blank: 'Seleccione una Habitación'}, { :class => "form-control", :prompt => "Seleccione una Habitación"}
		.col-lg-4
			= f.input :quantity_people, input_html: { min: 1 }
		.col-lg-4
			= link_to_remove_association f do
				%i.icon-trash