- @rooms = KepplerBooking::Room.all

.nested-fields.col-lg-12
	.row#container-room-
		.col
			= f.select :room_id, options_from_collection_for_select(@rooms, :id, :name), { include_blank: 'Seleccione una Habitación'}, { :class => "form-control select-rooms", :prompt => "Seleccione una Habitación", :id => "select-rooms-"}
		.col
			= f.select :quantity_people, options_for_select([ "Cantidad de Personas" ], ["Cantidad de Personas"]), { include_blank: false}, { :id => "quantity_people-", :class => "form-control select-prices-room", disabled: true}
		.col#destroy_room
			= link_to_remove_association f do
				%p Eliminar Habitacion