!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}
    %meta{content: "width=device-width, initial-scale=1.0", name:"viewport"}
    %title Hotel Brisas de Paraguaná
  %body
    = render 'keppler_frontend/app/partials/navbar'
    %section.banner-room
      .mask-banner
        %h2.title-banner.container Galería
    %section
      .container.padding-top-bottom
        .grid-gallery
          %a.grid-gallery__item{:href => "#"}
            %img.grid-gallery__image{:src => "https://source.unsplash.com/featured/500x400/?dog"}/
          %a.grid-gallery__item{:href => "#"}
            %img.grid-gallery__image{:src => "https://source.unsplash.com/featured/500x400/?woman"}/
          %a.grid-gallery__item{:href => "#"}
            %img.grid-gallery__image{:src => "https://source.unsplash.com/featured/500x400/?pc"}/
          %a.grid-gallery__item{:href => "#"}
            %img.grid-gallery__image{:src => "https://source.unsplash.com/featured/500x400/?pen"}/
          %a.grid-gallery__item{:href => "#"}
            %img.grid-gallery__image{:src => "https://source.unsplash.com/featured/500x400/?table"}/
          %a.grid-gallery__item{:href => "#"}
            %img.grid-gallery__image{:src => "https://source.unsplash.com/featured/500x400/?mouse"}/
          %a.grid-gallery__item{:href => "#"}
            %img.grid-gallery__image{:src => "https://source.unsplash.com/featured/500x400/?food"}/
          %a.grid-gallery__item{:href => "#"}
            %img.grid-gallery__image{:src => "https://source.unsplash.com/featured/500x400/?street"}/
          %a.grid-gallery__item{:href => "#"}
            %img.grid-gallery__image{:src => "https://source.unsplash.com/featured/500x400/?aqua"}/
          %a.grid-gallery__item{:href => "#"}
            %img.grid-gallery__image{:src => "https://source.unsplash.com/featured/500x400/?rock"}/
          %a.grid-gallery__item{:href => "#"}
            %img.grid-gallery__image{:src => "https://source.unsplash.com/featured/500x400/?sun"}/
          %a.grid-gallery__item{:href => "#"}
            %img.grid-gallery__image{:src => "https://source.unsplash.com/featured/500x400/?car"}/
          %a.grid-gallery__item{:href => "#"}
            %img.grid-gallery__image{:src => "https://source.unsplash.com/featured/500x400/?cat"}/
          %a.grid-gallery__item{:href => "#"}
            %img.grid-gallery__image{:src => "https://source.unsplash.com/featured/500x400/?love"}/
          %a.grid-gallery__item{:href => "#"}
            %img.grid-gallery__image{:src => "https://source.unsplash.com/featured/500x400/?apple"}/
