%section.banner-room
  .mask-banner
    %h2.title-banner.container Matrimonial Standard
/ END BANNER
/ SINGLE ROOM
%section.details-single-room
  .container.padding-top-bottom
    .row
      .col-lg-7
        .slider-for
          %img{alt: "", src: "assets/img/room-1.jpg"}/
          %img{alt: "", src: "assets/img/23-min.JPG"}/
          %img{alt: "", src: "assets/img/room-1.jpg"}/
          %img{alt: "", src: "assets/img/23-min.JPG"}/
        .slider-nav
          %img{alt: "", src: "assets/img/23-min.JPG"}/
          %img{alt: "", src: "assets/img/room-1.jpg"}/
          %img{alt: "", src: "assets/img/room-1.jpg"}/
          %img{alt: "", src: "assets/img/23-min.JPG"}/
      .col-lg-5.flex-column
        %h2.title-room Descripción de la Habitación
        %p.description-room
          Diseñadas para brindar comodidad aquellos pasajeros que viajen por negocios o placer. Cuentan con un espacio
          de 24 mt2 y 1 Cama Queen.
          %br/
          Todas las tarifas incluyen desayuno en el Restaurant Pico’S Grill, acceso a piscina
          y gimnasio
        %a.btn-general.btn-red{href: ""} Reservar Ahora
/ END ROOM
/ SERVICES ROOM
%section.services-room
  .container.padding-top-bottom
    %h2.title-section Servicios de la Habitación
    .row
      .col-lg-4
        .service-room
          %img{alt: "", src: "assets/img/pool.svg"}/
          .text-service
            %h2.title-service Acceso a la Piscina
      .col-lg-4
        .service-room
          %img{alt: "", src: "assets/img/weightlifter.svg"}/
          .text-service
            %h2.title-service Acceso al gimnasio
      .col-lg-4
        .service-room
          %img{alt: "", src: "assets/img/wifi.svg"}/
          .text-service
            %h2.title-service Wifi gratis
      .col-lg-4
        .service-room
          %img{alt: "", src: "assets/img/tv.svg"}/
          .text-service
            %h2.title-service Television por cable
      .col-lg-4
        .service-room
          %img{alt: "", src: "assets/img/wifi.svg"}/
          .text-service
            %h2.title-service Acceso a la Piscina
      .col-lg-4
        .service-room
          %img{alt: "", src: "assets/img/refrigerator.svg"}/
          .text-service
            %h2.title-service Nevera ejecutiva
      .col-lg-4
        .service-room
          %img{alt: "", src: "assets/img/call.svg"}/
          .text-service
            %h2.title-service Teléfono
      .col-lg-4
        .service-room
          %img{alt: "", src: "assets/img/shower.svg"}/
          .text-service
            %h2.title-service Agua fría y caliente
      .col-lg-4
        .service-room
          %img{alt: "", src: "assets/img/dish.svg"}/
          .text-service
            %h2.title-service Agua fría y caliente