%footer#footer
	.container
		.row.padding-top-bottom
			.col-lg-4
				%h2.title-section Contáctanos
				%ul
					%li.phone
						%a{:href => ""}
							%i.fa.fa-phone{"aria-hidden" => "true"}>
							+58 4146950188
						%a{:href => ""}
							\/
							= succeed "+58" do
								%i.fa.fa-phone{"aria-hidden" => "true"}
						%li
							%a{:href => ""}
								%i.fa.fa-map-marker{"aria-hidden" => "true"}
								Av. Prieto Figueroa con Av. Manuelita Saenz. Península de
								Paraguaná, Edo. Falcón, Venezuela.
					%li.social
						%a{:href => ""}
							%i.fa.fa-instagram{"aria-hidden" => "true"}
						%a{:href => ""}
							%i.fa.fa-facebook{"aria-hidden" => "true"}
						%a{:href => ""}
							%i.fa.fa-twitter{"aria-hidden" => "true"}
			.col-lg-4.services-flex
				%img.logo-footer{:alt => "", :src => "assets/app/Logo Brisas BLANCO.png"}/
			.col-lg-4.feed-instagram
				%img{:alt => "", :src => "assets/app/instag.png"}/
	.powered
		%p
			Diseño y desarrollo por
			%a{:href => ""} Slice Group