%footer#footer
  .container
    .row.padding-top-bottom
      .col-lg-4
        %h2.title-section Contáctanos
        %ul
          %li.phone
            %a{:href => "tel:+584146950188"}
              %i.fa.fa-phone{"aria-hidden" => "true"}
              +58 4146950188
            %a{:href => "tel:+582694206163"}
              %i.fa.fa-phone{"aria-hidden" => "true"}
              +58 2694206163
          %li.ubication
            %i.fa.fa-map-marker{"aria-hidden" => "true"}
            Av. Prieto Figueroa con Av. Manuelita Saenz. Península de
            Paraguaná, Edo. Falcón, Venezuela.
          %li.social
            %a{:href => "https://www.instagram.com/hotelbrisas/", target: '_blank'}
              %i.fa.fa-instagram{"aria-hidden" => "true"}
            %a{:href => "https://www.facebook.com/hotelbrisasparaguana/", target: '_blank'}
              %i.fa.fa-facebook{"aria-hidden" => "true"}
            %a{:href => "https://twitter.com/Hotelbrisas", target: '_blank'}
              %i.fa.fa-twitter{"aria-hidden" => "true"}
      .col-lg-4.services-flex
        %img.logo-footer{:alt => "", :src => "assets/keppler_frontend/app/LogoBrisasBLANCO.png"}/
      .col-lg-4.feed-instagram
        %img{:alt => "", :src => "assets/keppler_frontend/app/instag.png"}/
  .powered
    %p
      Diseño y desarrollo por
      %a{:href => "https://slicegroup.co"} Slice Group
%button.button-up.btn-scroll
  %i.fa.fa-angle-up.ir-arriba{"aria-hidden" => "true"}
