%header
    / START NAVBAR
    %nav.navbar.navbar-expand-lg.navbar-light.container
        %a.navbar-brand{:href => "#"}
            %img.logo-navbar{:alt => "", :src => "assets/app/Logo Brisas BLANCO.png"}/
        %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
            %span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse.navbar-align
            %ul.navbar-nav
                %li.nav-item.active
                    %a.nav-link.nav-custom{:href => "#"}
                        Inicio
                        %span.sr-only (current)
                %li.nav-item
                    %a.nav-link.nav-custom{:href => "#room"} Habitaciones
                %li.nav-item
                    %a.nav-link.nav-custom{:href => "#services"} Servicios
                %li.nav-item
                    %a.nav-link.nav-custom{:href => "#gallery"} Galería
                %li.nav-item
                    %a.nav-link.nav-custom{:href => "#events"} Eventos
                %li.nav-item
                    %a.nav-link.nav-custom{:href => "#"} Salones
                %li.nav-item
                    %a.nav-link.nav-custom{:href => "#footer"} Contáctanos