<!DOCTYPE html>
<html id="keppler-html">
  <head>
    <%= set_head %>
  </head>
  <body id="keppler-editor">
    <keppler-header>
      <%= render 'layouts/keppler_frontend/app/layouts/header' %>
    </keppler-header>

    <%= yield %>
    
    <keppler-footer>
      <%= render 'layouts/keppler_frontend/app/layouts/footer' %>
    </keppler-footer>
  </body>
</html>

