@media screen and (min-width: 0px) and (max-width: 767px) {
  html {
    font-size: 11px;
  }

  /* BOOKING */

  .booking-section {
    position: initial;
    background-color: #f5f5f5;
  }

  .booking {
    width: 93%;
    padding: 1.5rem 1rem;
    transform: translateY(-4rem);
  }

  .box{
    width: 85%;}

.box img{
  width: 100%;
  height: 100%;}

  .pop-up{
      display: flex;
    justify-content: center;
    align-items: center;
  }

  .room {
    padding-top: 28rem!important;
  }
  .fa.fa-times{
    color: #fff!important;
  }
  .services .slick-dots {
    display: block!important;
    right: 9rem !important;
    top: 90%!important;
  }
    .booking-section {

    bottom: -20rem!important;}

  .booking .btn-general {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }

  footer .title-section {
    text-align: center!important;
}

  .feed-instagram{
    justify-content: center!important;
    display: flex;
  }

  .hb-form-table{
    display: block!important;
  }

  .hotel-booking-search form{
    display: block!important;
  }
  .n-scroll a {
    color: #fff
  }

  .subtitle-service{
    margin-left:0 !important;
    margin-right: 0!important;
  }

  .n-scroll .reservar a {
    color: #ffffff !important;
    padding-top: 8px;
  }
  .services .title-section {
      text-align: center!important;
  }

  .info-event {
    box-shadow: none!important;
    background-color: transparent!important;
    position:inherit!important;
    width: auto!important;
    padding: 3rem!important;
    bottom: -5rem!important;
    height: 260px!important;
    text-align: center!important;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
}

.events .title-section {
    text-align: center!important;
}

.subtitle-space{
  text-align: center;
}

.space .title-section {
    text-align: center!important;
}

.img-event{
  display: none;
}
  /* ROOM */

  .room {
    padding-top: 0;
  }

  .room .container {
    padding: 0;
  }

  .item-room {
    display: initial!important;
    min-height: 50rem;
  }

  .img-room, .details-room {
    width: 100%
  }

  .img-room {
    height: 40%;
  }

  .details-room {
    height: 60%;
  }

  .details-room {
    padding: 2rem 1rem;
    position: initial;
  }

  .item-room .price, .item-room .title-room {
    text-align: center;
  }

  .slick-room .slick-next-arrow, .slick-room .slick-prev-arrow {
    padding-bottom: 3rem;
    align-items: flex-end;
  }

  .slick-room .slick-next-arrow {
    right: 0;
  }

  .slick-room .slick-prev-arrow {
    left: 75%;
  }

  /* EVENTS */
  .events {
    background-color: #fff;
  }
  .img-event {
    width: 84%;
    height: 21rem;
  }

  .event-desktop {
    display: none;
  }

  .events .container {
    padding: 0;
    margin: 0;
  }

  .info-event-responsive {
    width: 90%;
    padding: 1.5rem;
    bottom: -4rem;
  }

  /* SPACE */

  .space .padding-top-bottom {
    padding-top: 8rem;
  }

  /* VIEW FORM-EVENTS */

  .previous_button {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .box-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


}

@media screen and (min-width: 768px) and (max-width: 997px) {

  html {
    font-size: 14px;
  }

  .room {
    padding-top: 12rem;
  }

  .details-room {
    padding: 2rem;
    height: 88%;
    width: 52%;
  }

  .slick-room .slick-next-arrow {
    right: 0;
  }

  .slick-room .slick-prev-arrow {
    left: 42rem;
  }

  .slick-prev-arrow, .slick-next-arrow {
    align-items: flex-end;
    padding-bottom: 4rem;
  }

  /* EVENTS */

  .event-desktop{
    display: none;
  }

  .events .padding-top-bottom {
    padding-bottom: 5rem;
  }

  .info-event-responsive {
    width: 64%;
    padding: 3rem;
    bottom: 2rem;
  }

  /* SERVICES */
  .services .padding-top-bottom {
    padding-bottom: 0;
  }
}


@media screen and (min-width: 0px) and (max-width: 997px) {
  .services .title-section {
    text-align: center;
    color: #f35314;
  }

  .subtitle-service {
    text-align: center;
  }

  .services .slick-dots {
    flex-direction: initial;
    right: initial;
    width: 100%;
    height: initial;
  }

  .services .slick-dots li button::before {
    width: 1.5rem;
    height: 1rem;
  }

  .item-service .services-flex{
    align-items: center;
  }

  .text-service {
    text-align: center;
  }

  .img-service {
    display: none;
  }

  .services .slick-dots li {
    margin: .5rem;
  }

  /* EVENTS */
  .info-event-responsive {
    display: initial!important;
  }
  /* FOOTER */

  footer ul, footer .title-section {
    text-align: center;
  }

  footer .services-flex {
    padding: 3rem 0;
  }

  .feed-instagram {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hotel-booking-search form {
    display: block!important;
}

.booking{
  width: 100%!important;
}
.pop-up{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hb-form-table{
  display: block!important;
}
.room {
    padding-top: 14rem!important;
}
.subtitle-service{
  margin-left:0!important;
    margin-right:0!important;
    text-align: center!important;
}
.services .title-section{
  text-align: center!important;
}
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .hotel-booking-search form {
    display: block!important;
}

.booking{
  width: 100%!important;
}
.pop-up{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hb-form-table{
  display: initial!important;
}


}
