// Booking Stylesheets
= stylesheet_link_tag 'keppler_booking/application', media: 'all', 'data-turbolinks-track': true
// Booking Javascripts
= javascript_include_tag 'keppler_booking/application', 'data-turbolinks-track': true